.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: 300px;
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.isOpen {
    width: 80px;
}

.switchers{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang{
    margin-left: 15px;
}