.app.light {
    --bg-color: #fafafa;
    --inverted-bg-color: #1f1f24;
    --primary-color: #2a8bc7;
    --secondary-color: #3d7ba8;
    --inverted-primary-color: #5dd4c0;
    --inverted-secondary-color: #6ba8d6;
}