.addNewComment {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid var(--primary-color);
}

.input {
    flex-grow: 1;
}
