.app.dark {
    --bg-color: #000033;
    --inverted-bg-color: #1a1a3a;
    --primary-color: #00ff00;
    --secondary-color: #00ff88;
    --inverted-primary-color: #00ff00;
    --inverted-secondary-color: #00ff88;

    // skeleton
    --skeleton-shadow: #1515ad;
    --skeleton-color: #2b2be8;

    // code
    --code-bg: #00006d;

    // card
    --card-bg: #01015f;
}
