.app.light {
    --bg-color: #e6e6ff;
    --inverted-bg-color: #1a1a3a;
    --primary-color: #00cc66;
    --secondary-color: #00ff88;
    --inverted-primary-color: #00ff00;
    --inverted-secondary-color: #00ff88;

    // skeleton
    --skeleton-shadow: rgb(0 0 0 / 20%);
    --skeleton-color: #ffffff;

    // code
    --code-bg: #fff;

    // card
    --card-bg: #cbcbe3;
}
