.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;
    
    // Ссылки в хедере используют инвертированные цвета для читаемости на темном фоне
    a {
        color: var(--inverted-primary-color) !important;
    }
}

.mainLink {
    margin-right: 15px;
}