.profilepageheader {
    display: flex;
    margin-bottom: 20px;

    .editBtn {
        margin-left: auto;
    }

    .groupBtns {
        margin-left: auto;
    }

    .cancelBtn {
        margin-right: 10px;
    }
}

.btnsWrapper {
    margin-left: auto;
}
