name: Linting, Testing and Building

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    pipeline:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - name: Install dependencies
              run: npm ci

            - name: Build production bundle
              run: npm run build:prod

            - name: Linting
              run: npm run lint

            - name: Unit tests
              run: npm run test:unit

            - name: Build Storybook
              run: npm run storybook:build

            - name: Setup virtual display for Loki
              run: |
                  sudo apt-get update
                  sudo apt-get install -y xvfb libgtk2.0-0 libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2

            - name: Run Loki tests
              run: |
                  xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" npm run test:ui:ci
