name: Linting, Testing and Building

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    pipeline:
        runs-on: windows-2019

        steps:
            - uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - name: Install dependencies
              run: npm ci

            - name: Build production bundle
              run: npm run build:prod

            - name: Linting
              run: npm run lint

            - name: Unit tests
              run: npm run test:unit

            - name: Build Storybook
              run: npm run storybook:build

            - name: Run Loki tests
              run: npm run test:ui:ci
